@import url('./reset.css');
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #0a0a23;
  height: 90vh;
}

#text,
#history {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 10px;
  min-height: 66px;
  box-sizing: border-box;
}
#history {
  height: 100%;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

#game {
  border-radius: 10px;
  max-width: 750px;
  height: 100%;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.game-message {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(75, 75, 131);
  margin: 4px 0;
  max-width: 85%;
  width: fit-content;
}

.player-message {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(55, 114, 182);
  margin: 4px 0 4px auto;
  max-width: 85%;
  width: fit-content;
}

#stats {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 5px;
  color: #0a0a23;
}

#controls {
  padding: 5px;
  color: #0a0a23;
  display: flex;
  height: 50px;
  gap: 5px;
  justify-content: center;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
  border-radius: 4px;
  margin-bottom: 4px;
}

.stat {
  padding-right: 10px;
}

button {
  border-radius: 4px;
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}
